@import "tailwindcss";
html{
  overflow-x: hidden;

}
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}
.swiper-slide {
  transform: scale(0.85);
  transition: transform 0.3s ease;
}

.swiper-slide-active {
  transform: scale(1.15);
  z-index: 10;
}
@utility flex-center{
@apply flex justify-center items-center;
}